<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="This website is a collection of links to PDFs found on Hacker News. It collects PDFs which have been posted by the community as story or comment">
  <title>Hacker News PDFs</title>
  <link rel="preload" as="style" onload="this.rel='stylesheet'" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" as="style">
  <style>
    .hn-orange {
      background-color: #ff6600
    }
    .highlight {
      background-color: yellow;
      border-style: dashed;
    }
  </style>
  {% endblock head %}
</head>
<body>
<section class="hero hn-orange pb-5">
  <div class="hero-body">
    <h1 class="title is-size-1 has-text-centered">
      <a class="has-text-white" href="/">HN PDF</a>
      </p>
      <p class="subtitle has-text-white has-text-weight-bold">
        PDF(s) shared on <a class="has-text-black" href="https://news.ycombinator.com" target="_blank">Hackernews</a>
      </p>
  </div>
  <form class="field has-addons has-text-centered columns is-centered" action="/search" method="get">
    <div class="control has-text-centered">
      <input class="input" type="text" name="text" placeholder="Search for text">
    </div>
    <div class="control">
      <input class="button is-warning is-light" type="submit" value="Search">
    </div>
  </form>
</section>

<section class="section container p-6">
  {% block content %}{% endblock content %}
</section>
</body>
</html>